.layui-container {
    width: 95% !important;
}

.open-skin {
    background-color: #3f3f3f !important;
}

/*修改滚动条样式*/

/*滚动条整体部分*/
div::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

/*滚动条里面的小方块*/
div::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}

/*滚动条的轨道*/
div::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
    background: #333;
}

/*边角，两个滚动条交汇处*/
div::-webkit-scrollbar-corner {
    background: #179a16;
}

.header {
    position: relative;
}

.title {
    text-align: center;
    color: rgb(0, 193, 222);
    font-size: 30px;
    font-weight: 600;
    height: 60px;
    line-height: 60px;
}

.index {
    position: absolute;
    top: 15px;
    left: 16px;
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
    padding: 5px 10px;
    margin-right: 20px;
    background: #5fb878;
    border-radius: 10px;
}

.logout {
    position: absolute;
    top: 15px;
    right: 16px;
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
    padding: 5px 10px;
    margin-left: 20px;
    background: #576a95;
    border-radius: 10px;
}

.layui-form-label {
    width: unset;
    font-size: 16px;
    font-weight: 600;
}

.layui-card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .33);
}

.overview-title {
    font-size: 16px;
    font-weight: 600;
}

.line {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #1E9FFF;
}

.frame {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #e5e6eb;
    background-color: #f6f8f9;
}

.layui-elem-project {
    margin-bottom: 10px;
    padding: 5px 0 10px 3px;
    border-left: 3px solid #48d4ec;
    border-radius: unset;
    background-color: inherit;
}

.layui-table-header tr {
    background-color: rgb(235, 236, 236) !important;
}

.layui-card-header {
    background-color: rgb(235, 236, 236) !important;
}